@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.app-container{
  height: auto;
  background-color: rgb(231, 219, 241);
  width: 100%;
  padding: 3rem;
}

.organix-tasks-container {
  height: auto;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 1rem;
  padding:0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.sidebar-container {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  border-right: 1px solid rgb(214, 214, 214);
  padding-right: 1rem;
  background-color: rgb(240, 240, 240,.4);
  padding-bottom: 10rem;
}

.top-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 1rem;
}

.logo-title-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: .3rem;
}

.logo-container {
  width: 30px;
}

img {
  width: 100%;
}

.form-keyboard-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: .5rem;
  background-color: rgba(128, 128, 128,.15);
  border-radius: 1rem;
  padding-top: 1rem;
}

.search-top-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.search-bar-container, .form {
  height: auto;
  width: fit-content;
}

.form input {
  all:unset;
  background-color: transparent;
  padding-left:1rem
}

.keyboard-letter-container {
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  background-color: white;
  column-gap: .5rem;
  border-radius: .4rem;
  margin-right:1rem;
  padding: .3rem .9rem;
  justify-content: start;
  align-items: start;}

.keyboard-container, .f-letter-container {
  height: auto;
  width: fit-content;
}

.keyboard-container span {
  width:100%
}

.middle-container, .lower-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.collection-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: start;
  align-items: start;
}

.icon{
  height:auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin-left: .5rem;
  align-items: center;
}

.main-menu, .label {
  font-weight: 600;
  color: grey;
}

.portfolio-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-left: 1rem;
}

.pot {
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  justify-content: start;
  align-items: center;
}

.label {
  padding-top:2rem;
}

.block {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  outline: none;
}

.green-color {
  background-color: rgb(51, 182, 117);
}

.violet-color {
  background-color: rgb(87, 87, 155);
}

.orange-color {
  background-color: rgb(223, 153, 24);
}

.purple-color {
  background-color: purple;
}